.container {
    padding: 10px;
    font-family: Helvetica;
}

.customer {
    padding-right: 10px;
    text-align: right;
    background-color: #4b6aff;
    color: white;
}

th, td {
    width: 300px;
    text-align: left;
    padding: 10px;
}

th {
    background: lightgray;
}